{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<p>프로젝트 생성 페이지입니다</p>

<form action="{% url 'jam:create_jam' project.id %}" method="POST" enctype = "multipart/form-data">
    {% csrf_token %} 
    <select name="inst">
        <option value="drum" selected="selected">드럼</option>
        <option value="base">베이스</option>
        <option value="elec">일렉기타</option>
        <option value="piano">피아노</option>
        <option value="vocal">보컬</option>
        <option value="other">그 외</option>
    </select><br><br>
    
    <label>간단소개</label>
    <textarea name="content"></textarea><br>
    
    <labe>음악 파일</labe><br>
    <input type="file" name="file">

    
    <input type="submit" value="등록하기">
</form>


{% endblock %}