{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<!-- <p>프로젝트 디테일 페이지</p> -->

<a href="{% url 'jam:create_jam' project.id %}" class="btn btn-warning join">프로젝트 참여하기</a>
<div class="detail-wrap">
    <h1>[{{project.user}}]의 프로젝트</h1>
    <div class="detail-wrap-inst">
        <br>
        <h2>사용 악기</h2>
        <h2 class='tag'>
            #{{project.inst}}
        </h2>
    </div>
    
    <div class="detail-wrap-content">
        {{project.content}}
    </div>
        
    
<!-- 오디오 재생 -->
    <div class="detail-audio">
        <audio src="{{ project.file.url }}" controls></audio>
    </div>
    
    
    
    
    <div class="detail-jjam">
        
        {% for jam in project.jams.all %}
        <div class="jjam-info">
            제작자: {{ jam.user }} <br>
            악기: {{ jam.inst }} <br>
            간단설명: {{ jam.content }} <br> 
        <div class="detail-audio">
        <audio src="{{ jam.file.url }}" controls></audio>
    </div>
        </div>
            {% empty %}
            <br><p>아직 아무도 참여하지 않았어요!</p>
        {% endfor %}
    </div>
    
</div>



{% endblock %}
