{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'main.css' %}">

<div class="main-wrap">
    <!--<div class="main-title">모든 프로젝트 보여주는 페이지입니다</div>-->
    {% if user.is_authenticated %}
    <div class="create-btn">
        <a href="{% url 'jam:create_project' %}" class="btn btn-warning">프로젝트 생성하기</a>
    </div>
    <div class="item-wrap">
        {% for item in project %}
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'inst_icon.jpg' %}" alt="이미지">
                </div>
                <div class="item-text">
                    <a href="{% url 'jam:detail' item.id %}" class="btn btn-link">
                        {{ item.user }}님의 프로젝트<br>  
                        #{{item.inst}} 
                    </a>
                </div>
            </div>
            {% empty %}
            <h1>아직 올라온 프로젝트가 없습니다.</h1>
            {% endfor %}
        {% else %} 
          <p>아직 로그인 하지 않았습니다</p>
          <a href="{% url 'account_login' %}" class="btn btn-dark">로그인</a>
          <a href="{% url 'account_signup' %}" class="btn btn-dark">회원가입</a>
{% endif %} 
    </div>
</div>

{% endblock %}
