{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'show.css' %}">

<div class="show-wrap">
    <!--<div class="show-title">모든 프로젝트 보여주는 페이지입니다</div>-->
    <div class="item-wrap">
        {% for item in project %}
            <div class="item">
                <div class="item-img">
                    <img src="static/inst_icon.jpg" alt="">
                </div>
                <div class="item-text">
                    <a href="{% url 'jam:detail' item.id %}" class="btn btn-link">
                        <h2> {{ item.user }}님의 프로젝트 : {{item.inst}} </h2>
                    </a>
                </div>
            </div>
            {% empty %}
            <h1>아직 올라온 프로젝트가 없습니다.</h1>
        {% endfor %}
    </div>
</div>

{% endblock %}
