.content-wrap {
    position: relative;
    margin: 0 auto;
    padding: 10px 30px 30px;
}

h2, h3 {
    color: #666;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.2em;
}

.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 80%;
    height: 160px;
}

.submit-btn{
    margin: 10px 0px 0px 0px;
    float: right;
}

.btn btn-warning {
    display: block;
}