.show-wrap {
    padding: 30px;
    margin: 0 auto;
}

.item-wrap {
    display: flex;
}

.item {
    width: 30vh;
    height: 30vh;
    margin: 5vh;
    padding: 1vh;
    border-bottom: solid 1px #333;
}